In [26]:
import csv
import sqlite3
import pandas as pd
import warnings

warnings.filterwarnings('ignore')

In [2]:
df = pd.DataFrame([ row for row in csv.DictReader(open('Resources/Global Ecological Footprint 2023.csv',errors='ignore')) ])
df.head()

,Country,Region,SDGi,Life Exectancy,HDI,Per Capita GDP,Income Group,Population (millions),Cropland Footprint,Grazing Footprint,...,Built up land,Total Ecological Footprint (Consumption),Cropland,Grazing land,Forest land,Fishing ground,Total biocapacity,Ecological (Deficit) or Reserve,Number of Earths required,Number of Countries required
0,Afghanistan,Middle East/Central Asia,52.5,62,0.48,,LI,40.8,0.4,0.1,...,0.028232273,0.8,0.3,0.1,0.012981282,0.000565167,0.513827024,-0.287637599,0.530695582,1.559794611
1,Albania,Other Europe,71.6,76,0.8,"$14,889",UM,2.9,0.8,0.2,...,0.073005587,2.1,0.6,0.2,0.223326157,0.081391904,1.176752316,-0.894486045,1.37148542,1.760131111
2,Algeria,Africa,71.5,76,0.75,"$11,137",UM,45.4,0.7,0.2,...,0.037775208,2.2,0.4,0.2,0.023911707,0.007179154,0.663374969,-1.559593496,1.471954604,3.350998407
3,Angola,Africa,50.9,62,0.59,"$6,304",LM,35,0.2,0.1,...,0.061359798,0.9,0.2,0.8,0.416887822,0.153498781,1.588191242,0.730345635,0.568028656,0.540139993
4,Antigua and Barbuda,Central America/Caribbean,,78,0.79,"$18,749",HI,0.1,,,...,,2.9,,,,,0.917277482,-2.01945766,1.944580357,3.201577712

In [3]:
df.to_csv('Resources/clean_data.csv')

In [4]:
df = pd.read_csv('Resources/clean_data.csv', index_col='Unnamed: 0')
df[:5]

,Country,Region,SDGi,Life Exectancy,HDI,Per Capita GDP,Income Group,Population (millions),Cropland Footprint,Grazing Footprint,...,Built up land,Total Ecological Footprint (Consumption),Cropland,Grazing land,Forest land,Fishing ground,Total biocapacity,Ecological (Deficit) or Reserve,Number of Earths required,Number of Countries required
0,Afghanistan,Middle East/Central Asia,52.5,62,0.48,NaN,LI,40.8,0.4,0.1,...,0.028232,0.8,0.3,0.1,0.012981,0.000565,0.513827,-0.287638,0.530696,1.559795
1,Albania,Other Europe,71.6,76,0.8,"$14,889",UM,2.9,0.8,0.2,...,0.073006,2.1,0.6,0.2,0.223326,0.081392,1.176752,-0.894486,1.371485,1.760131
2,Algeria,Africa,71.5,76,0.75,"$11,137",UM,45.4,0.7,0.2,...,0.037775,2.2,0.4,0.2,0.023912,0.007179,0.663375,-1.559593,1.471955,3.350998
3,Angola,Africa,50.9,62,0.59,"$6,304",LM,35,0.2,0.1,...,0.061360,0.9,0.2,0.8,0.416888,0.153499,1.588191,0.730346,0.568029,0.540140
4,Antigua and Barbuda,Central America/Caribbean,NaN,78,0.79,"$18,749",HI,0.1,NaN,NaN,...,NaN,2.9,NaN,NaN,NaN,NaN,0.917277,-2.019458,1.944580,3.201578

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 182 entries, 0 to 181
Data columns (total 23 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Country                                   182 non-null    object
 1   Region                                    182 non-null    object
 2   SDGi                                      159 non-null    object
 3   Life Exectancy                            176 non-null    object
 4   HDI                                       173 non-null    object
 5   Per Capita GDP                            165 non-null    object
 6   Income Group                              178 non-null    object
 7   Population (millions)                     182 non-null    object
 8   Cropland Footprint                        152 non-null    float64
 9   Grazing Footprint                         152 non-null    float64
 10  Forest Product Footprint                  152 non-null    float64
 11  Carbon Footprint                          152 non-null    float64
 12  Fish Footprint                            152 non-null    float64
 13  Built up land                             152 non-null    float64
 14  Total Ecological Footprint (Consumption)  181 non-null    float64
 15  Cropland                                  152 non-null    float64
 16  Grazing land                              152 non-null    float64
 17  Forest land                               152 non-null    float64
 18  Fishing ground                            152 non-null    float64
 19  Total biocapacity                         181 non-null    float64
 20  Ecological (Deficit) or Reserve           181 non-null    float64
 21  Number of Earths required                 181 non-null    float64
 22  Number of Countries required              181 non-null    float64
dtypes: float64(15), object(8)
memory usage: 34.1+ KB

In [6]:
df = df.dropna()

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 134 entries, 1 to 179
Data columns (total 23 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Country                                   134 non-null    object
 1   Region                                    134 non-null    object
 2   SDGi                                      134 non-null    object
 3   Life Exectancy                            134 non-null    object
 4   HDI                                       134 non-null    object
 5   Per Capita GDP                            134 non-null    object
 6   Income Group                              134 non-null    object
 7   Population (millions)                     134 non-null    object
 8   Cropland Footprint                        134 non-null    float64
 9   Grazing Footprint                         134 non-null    float64
 10  Forest Product Footprint                  134 non-null    float64
 11  Carbon Footprint                          134 non-null    float64
 12  Fish Footprint                            134 non-null    float64
 13  Built up land                             134 non-null    float64
 14  Total Ecological Footprint (Consumption)  134 non-null    float64
 15  Cropland                                  134 non-null    float64
 16  Grazing land                              134 non-null    float64
 17  Forest land                               134 non-null    float64
 18  Fishing ground                            134 non-null    float64
 19  Total biocapacity                         134 non-null    float64
 20  Ecological (Deficit) or Reserve           134 non-null    float64
 21  Number of Earths required                 134 non-null    float64
 22  Number of Countries required              134 non-null    float64
dtypes: float64(15), object(8)
memory usage: 25.1+ KB

In [8]:
# removing ($ and comma) from Per Capita GDP column
df['Per Capita GDP'] = df['Per Capita GDP'].str.replace('$','').str.replace(',','')

# reviewed column for values that could not turn into float and collected row indexes
nan = [40,42]

# removed rows with issues
df = df.drop(nan)

# changed column type from object to float
df["Per Capita GDP"] = df["Per Capita GDP"].astype('float')

df[:5]

,Country,Region,SDGi,Life Exectancy,HDI,Per Capita GDP,Income Group,Population (millions),Cropland Footprint,Grazing Footprint,...,Built up land,Total Ecological Footprint (Consumption),Cropland,Grazing land,Forest land,Fishing ground,Total biocapacity,Ecological (Deficit) or Reserve,Number of Earths required,Number of Countries required
1,Albania,Other Europe,71.6,76,0.8,14889.0,UM,2.9,0.8,0.2,...,0.073006,2.1,0.6,0.2,0.223326,0.081392,1.176752,-0.894486,1.371485,1.760131
2,Algeria,Africa,71.5,76,0.75,11137.0,UM,45.4,0.7,0.2,...,0.037775,2.2,0.4,0.2,0.023912,0.007179,0.663375,-1.559593,1.471955,3.350998
3,Angola,Africa,50.9,62,0.59,6304.0,LM,35,0.2,0.1,...,0.061360,0.9,0.2,0.8,0.416888,0.153499,1.588191,0.730346,0.568029,0.540140
5,Argentina,South America,72.8,75,0.84,22117.0,UM,46,0.9,0.5,...,0.083517,3.2,1.8,1.2,0.591673,1.527615,5.231663,2.011045,2.132556,0.615601
6,Armenia,Middle East/Central Asia,71.1,72,0.76,13548.0,LM,3,0.7,0.2,...,0.052182,2.3,0.4,0.3,0.098200,0.016853,0.846625,-1.479770,1.540439,2.747847

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 132 entries, 1 to 179
Data columns (total 23 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Country                                   132 non-null    object
 1   Region                                    132 non-null    object
 2   SDGi                                      132 non-null    object
 3   Life Exectancy                            132 non-null    object
 4   HDI                                       132 non-null    object
 5   Per Capita GDP                            132 non-null    float64
 6   Income Group                              132 non-null    object
 7   Population (millions)                     132 non-null    object
 8   Cropland Footprint                        132 non-null    float64
 9   Grazing Footprint                         132 non-null    float64
 10  Forest Product Footprint                  132 non-null    float64
 11  Carbon Footprint                          132 non-null    float64
 12  Fish Footprint                            132 non-null    float64
 13  Built up land                             132 non-null    float64
 14  Total Ecological Footprint (Consumption)  132 non-null    float64
 15  Cropland                                  132 non-null    float64
 16  Grazing land                              132 non-null    float64
 17  Forest land                               132 non-null    float64
 18  Fishing ground                            132 non-null    float64
 19  Total biocapacity                         132 non-null    float64
 20  Ecological (Deficit) or Reserve           132 non-null    float64
 21  Number of Earths required                 132 non-null    float64
 22  Number of Countries required              132 non-null    float64
dtypes: float64(16), object(7)
memory usage: 24.8+ KB

In [10]:
df.eq(' ').any()

Country                                     False
Region                                      False
SDGi                                        False
Life Exectancy                              False
HDI                                          True
Per Capita GDP                              False
Income Group                                False
Population (millions)                       False
Cropland Footprint                          False
Grazing Footprint                           False
Forest Product Footprint                    False
Carbon Footprint                            False
Fish Footprint                              False
Built up land                               False
Total Ecological Footprint (Consumption)    False
Cropland                                    False
Grazing land                                False
Forest land                                 False
Fishing ground                              False
Total biocapacity                           False
Ecological (Deficit) or Reserve             False
Number of Earths required                   False
Number of Countries required                False
dtype: bool

In [11]:
df[df.HDI == ' ']

,Country,Region,SDGi,Life Exectancy,HDI,Per Capita GDP,Income Group,Population (millions),Cropland Footprint,Grazing Footprint,...,Built up land,Total Ecological Footprint (Consumption),Cropland,Grazing land,Forest land,Fishing ground,Total biocapacity,Ecological (Deficit) or Reserve,Number of Earths required,Number of Countries required
150,Somalia,Africa,45.6,55,,1132.0,LI,16.8,0.2,0.3,...,0.017672,0.9,0.1,0.3,0.116078,0.196021,0.712411,-0.178978,0.59024,1.251229

In [12]:
df = df.drop(150)

In [13]:
df[df.HDI == ' ']

Empty DataFrame
Columns: [Country, Region, SDGi, Life Exectancy, HDI, Per Capita GDP, Income Group, Population (millions), Cropland Footprint, Grazing Footprint, Forest Product Footprint, Carbon Footprint, Fish Footprint, Built up land, Total Ecological Footprint (Consumption), Cropland, Grazing land, Forest land, Fishing ground, Total biocapacity , Ecological (Deficit) or Reserve, Number of Earths required, Number of Countries required]
Index: []

[0 rows x 23 columns]

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 131 entries, 1 to 179
Data columns (total 23 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Country                                   131 non-null    object
 1   Region                                    131 non-null    object
 2   SDGi                                      131 non-null    object
 3   Life Exectancy                            131 non-null    object
 4   HDI                                       131 non-null    object
 5   Per Capita GDP                            131 non-null    float64
 6   Income Group                              131 non-null    object
 7   Population (millions)                     131 non-null    object
 8   Cropland Footprint                        131 non-null    float64
 9   Grazing Footprint                         131 non-null    float64
 10  Forest Product Footprint                  131 non-null    float64
 11  Carbon Footprint                          131 non-null    float64
 12  Fish Footprint                            131 non-null    float64
 13  Built up land                             131 non-null    float64
 14  Total Ecological Footprint (Consumption)  131 non-null    float64
 15  Cropland                                  131 non-null    float64
 16  Grazing land                              131 non-null    float64
 17  Forest land                               131 non-null    float64
 18  Fishing ground                            131 non-null    float64
 19  Total biocapacity                         131 non-null    float64
 20  Ecological (Deficit) or Reserve           131 non-null    float64
 21  Number of Earths required                 131 non-null    float64
 22  Number of Countries required              131 non-null    float64
dtypes: float64(16), object(7)
memory usage: 24.6+ KB

In [15]:
df.eq('1,480.60').any()

Country                                     False
Region                                      False
SDGi                                        False
Life Exectancy                              False
HDI                                         False
Per Capita GDP                              False
Income Group                                False
Population (millions)                        True
Cropland Footprint                          False
Grazing Footprint                           False
Forest Product Footprint                    False
Carbon Footprint                            False
Fish Footprint                              False
Built up land                               False
Total Ecological Footprint (Consumption)    False
Cropland                                    False
Grazing land                                False
Forest land                                 False
Fishing ground                              False
Total biocapacity                           False
Ecological (Deficit) or Reserve             False
Number of Earths required                   False
Number of Countries required                False
dtype: bool

In [16]:
df["Population (millions)"] = df["Population (millions)"].str.replace(",","")

In [17]:
df[["SDGi","HDI","Population (millions)"]] = df[["SDGi","HDI","Population (millions)"]].astype("float")

In [18]:
# Rename columns with typos
df.rename(columns={'Life Exectancy': 'Life Expectancy','HDI':'Human Development Index (HDI)'}, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 131 entries, 1 to 179
Data columns (total 23 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Country                                   131 non-null    object
 1   Region                                    131 non-null    object
 2   SDGi                                      131 non-null    float64
 3   Life Expectancy                           131 non-null    object
 4   Human Development Index (HDI)             131 non-null    float64
 5   Per Capita GDP                            131 non-null    float64
 6   Income Group                              131 non-null    object
 7   Population (millions)                     131 non-null    float64
 8   Cropland Footprint                        131 non-null    float64
 9   Grazing Footprint                         131 non-null    float64
 10  Forest Product Footprint                  131 non-null    float64
 11  Carbon Footprint                          131 non-null    float64
 12  Fish Footprint                            131 non-null    float64
 13  Built up land                             131 non-null    float64
 14  Total Ecological Footprint (Consumption)  131 non-null    float64
 15  Cropland                                  131 non-null    float64
 16  Grazing land                              131 non-null    float64
 17  Forest land                               131 non-null    float64
 18  Fishing ground                            131 non-null    float64
 19  Total biocapacity                         131 non-null    float64
 20  Ecological (Deficit) or Reserve           131 non-null    float64
 21  Number of Earths required                 131 non-null    float64
 22  Number of Countries required              131 non-null    float64
dtypes: float64(19), object(4)
memory usage: 24.6+ KB

In [19]:
df["Life Expectancy"] = df["Life Expectancy"].astype("int")

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 131 entries, 1 to 179
Data columns (total 23 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Country                                   131 non-null    object
 1   Region                                    131 non-null    object
 2   SDGi                                      131 non-null    float64
 3   Life Expectancy                           131 non-null    int64
 4   Human Development Index (HDI)             131 non-null    float64
 5   Per Capita GDP                            131 non-null    float64
 6   Income Group                              131 non-null    object
 7   Population (millions)                     131 non-null    float64
 8   Cropland Footprint                        131 non-null    float64
 9   Grazing Footprint                         131 non-null    float64
 10  Forest Product Footprint                  131 non-null    float64
 11  Carbon Footprint                          131 non-null    float64
 12  Fish Footprint                            131 non-null    float64
 13  Built up land                             131 non-null    float64
 14  Total Ecological Footprint (Consumption)  131 non-null    float64
 15  Cropland                                  131 non-null    float64
 16  Grazing land                              131 non-null    float64
 17  Forest land                               131 non-null    float64
 18  Fishing ground                            131 non-null    float64
 19  Total biocapacity                         131 non-null    float64
 20  Ecological (Deficit) or Reserve           131 non-null    float64
 21  Number of Earths required                 131 non-null    float64
 22  Number of Countries required              131 non-null    float64
dtypes: float64(19), int64(1), object(3)
memory usage: 24.6+ KB

In [21]:
people_df = df[["Income Group", "Per Capita GDP", "Population (millions)", "Human Development Index (HDI)", "Life Expectancy"]].copy()

In [22]:
people_df.head()

,Income Group,Per Capita GDP,Population (millions),Human Development Index (HDI),Life Expectancy
1,UM,14889.0,2.9,0.80,76
2,UM,11137.0,45.4,0.75,76
3,LM,6304.0,35.0,0.59,62
5,UM,22117.0,46.0,0.84,75
6,LM,13548.0,3.0,0.76,72

In [23]:
land_df = df[['Country', 'Region', 'SDGi', 'Cropland Footprint', 'Grazing Footprint',
       'Forest Product Footprint', 'Carbon Footprint', 'Fish Footprint',
       'Built up land', 'Total Ecological Footprint (Consumption)', 'Cropland',
       'Grazing land', 'Forest land', 'Fishing ground', 'Total biocapacity ',
       'Ecological (Deficit) or Reserve', 'Number of Earths required',
       'Number of Countries required']]

In [24]:
land_df.head()

,Country,Region,SDGi,Cropland Footprint,Grazing Footprint,Forest Product Footprint,Carbon Footprint,Fish Footprint,Built up land,Total Ecological Footprint (Consumption),Cropland,Grazing land,Forest land,Fishing ground,Total biocapacity,Ecological (Deficit) or Reserve,Number of Earths required,Number of Countries required
1,Albania,Other Europe,71.6,0.8,0.2,0.2,0.7,0.0,0.073006,2.1,0.6,0.2,0.223326,0.081392,1.176752,-0.894486,1.371485,1.760131
2,Algeria,Africa,71.5,0.7,0.2,0.1,1.2,0.0,0.037775,2.2,0.4,0.2,0.023912,0.007179,0.663375,-1.559593,1.471955,3.350998
3,Angola,Africa,50.9,0.2,0.1,0.1,0.3,0.1,0.061360,0.9,0.2,0.8,0.416888,0.153499,1.588191,0.730346,0.568029,0.540140
5,Argentina,South America,72.8,0.9,0.5,0.2,1.4,0.1,0.083517,3.2,1.8,1.2,0.591673,1.527615,5.231663,2.011045,2.132556,0.615601
6,Armenia,Middle East/Central Asia,71.1,0.7,0.2,0.3,1.1,0.0,0.052182,2.3,0.4,0.3,0.098200,0.016853,0.846625,-1.479770,1.540439,2.747847

In [29]:
conn = sqlite3.connect('Ecological_db')

In [31]:
db = conn.cursor()

In [32]:
people_df.to_sql('people', conn)

131

In [34]:
land_df.to_sql('land', conn)

131

In [36]:
for row in db.execute('SELECT * FROM people'):
    print(row)

(1, 'UM', 14889.0, 2.9, 0.8, 76)
(2, 'UM', 11137.0, 45.4, 0.75, 76)
(3, 'LM', 6304.0, 35.0, 0.59, 62)
(5, 'UM', 22117.0, 46.0, 0.84, 75)
(6, 'LM', 13548.0, 3.0, 0.76, 72)
(7, 'HI', 53053.0, 26.1, 0.95, 83)
(8, 'HI', 55460.0, 9.1, 0.92, 81)
(9, 'UM', 14692.0, 10.3, 0.75, 69)
(10, 'HI', 49184.0, 1.8, 0.88, 79)
(11, 'LI', 5681.0, 167.9, 0.66, 72)
(12, 'HI', 14910.0, 0.3, 0.79, 78)
(13, 'UM', 18574.0, 9.4, 0.81, 72)
(14, 'HI', 52749.0, 11.7, 0.94, 82)
(15, 'UM', 6122.0, 0.4, 0.68, 70)
(16, 'LI', 3543.0, 12.8, 0.53, 60)
(18, 'LM', 11106.0, 0.8, 0.67, 72)
(19, 'LM', 8442.0, 12.0, 0.69, 64)
(20, 'UM', 14964.0, 3.2, 0.78, 75)
(21, 'UM', 16519.0, 2.4, 0.69, 61)
(22, 'UM', 14739.0, 215.4, 0.75, 73)
(23, 'HI', 64198.0, 0.4, 0.83, 75)
(24, 'UM', 24490.0, 6.8, 0.8, 72)
(25, 'LI', 2281.0, 22.1, 0.45, 59)
(26, 'LI', 733.0, 12.6, 0.43, 62)
(29, 'LM', 3767.0, 27.9, 0.58, 60)
(30, 'HI', 49516.0, 38.4, 0.94, 83)
(31, 'LI', 944.0, 5.0, 0.4, 54)
(32, 'LI', 1460.0, 17.4, 0.39, 53)
(33, 'UM', 24433.0, 19.3, 0.86, 79)
(34, 'UM', 18299.0, 1480.6, 0.77, 78)
(35, 'UM', 15610.0, 51.5, 0.75, 73)
(37, 'LM', 3921.0, 5.8, 0.57, 64)
(38, 'LI', 1127.0, 95.2, 0.48, 59)
(39, 'UM', 20976.0, 5.2, 0.81, 77)
(41, 'HI', 31007.0, 4.1, 0.86, 76)
(44, 'HI', 40707.0, 10.7, 0.89, 77)
(45, 'HI', 59333.0, 5.8, 0.95, 81)
(46, 'LM', 5710.0, 1.0, 0.51, 62)
(48, 'UM', 20541.0, 11.1, 0.77, 73)
(51, 'LM', 9062.0, 6.6, 0.68, 71)
(54, 'HI', 38353.0, 1.3, 0.89, 77)
(55, 'LM', 8917.0, 1.2, 0.6, 57)
(56, 'LI', 2918.0, 120.8, 0.5, 65)
(57, 'UM', 11647.0, 0.9, 0.73, 67)
(58, 'HI', 49686.0, 5.6, 0.94, 82)
(59, 'HI', 47995.0, 65.6, 0.9, 82)
(62, 'UM', 15287.0, 2.3, 0.71, 66)
(63, 'LI', 2266.0, 2.6, 0.5, 62)
(64, 'LM', 15926.0, 4.0, 0.8, 72)
(65, 'HI', 54192.0, 83.9, 0.94, 81)
(66, 'LM', 5785.0, 32.4, 0.63, 64)
(67, 'HI', 30488.0, 10.3, 0.89, 80)
(70, 'LM', 8489.0, 18.6, 0.63, 69)
(71, 'LI', 2595.0, 13.9, 0.47, 59)
(74, 'LI', 2731.0, 11.7, 0.54, 63)
(76, 'HI', 35069.0, 9.6, 0.85, 74)
(77, 'LM', 7159.0, 1406.6, 0.63, 67)
(78, 'LM', 12449.0, 279.1, 0.71, 68)
(79, 'UM', 15702.0, 86.0, 0.77, 74)
(80, 'LM', 10399.0, 42.2, 0.69, 70)
(81, 'HI', 106717.0, 5.0, 0.95, 82)
(82, 'HI', 43000.0, 8.9, 0.92, 83)
(83, 'HI', 43010.0, 60.3, 0.9, 83)
(84, 'UM', 10109.0, 3.0, 0.71, 71)
(85, 'HI', 41809.0, 125.6, 0.93, 84)
(86, 'UM', 10159.0, 10.3, 0.72, 74)
(87, 'UM', 26125.0, 19.2, 0.81, 70)
(88, 'LI', 5192.0, 56.2, 0.58, 61)
(90, 'HI', 45438.0, 51.3, 0.93, 84)
(91, 'HI', 43613.0, 4.4, 0.83, 79)
(92, 'LI', 4764.0, 6.7, 0.69, 72)
(93, 'LM', 7866.0, 7.5, 0.61, 68)
(94, 'HI', 31973.0, 1.8, 0.86, 73)
(97, 'LI', 1524.0, 5.3, 0.48, 61)
(98, 'UM', 39810.0, 2.7, 0.88, 74)
(99, 'HI', 120505.0, 0.6, 0.93, 83)
(100, 'LI', 1523.0, 29.2, 0.5, 64)
(101, 'LI', 1373.0, 20.2, 0.51, 63)
(102, 'UM', 28180.0, 33.2, 0.8, 75)
(103, 'LI', 2206.0, 21.5, 0.43, 59)
(106, 'LM', 5927.0, 4.9, 0.56, 64)
(108, 'UM', 19028.0, 131.6, 0.76, 70)
(109, 'LM', 11435.0, 3.4, 0.74, 71)
(110, 'UM', 21308.0, 0.6, 0.83, 74)
(111, 'LM', 7744.0, 37.8, 0.68, 74)
(112, 'LI', 1232.0, 33.1, 0.45, 59)
(113, 'LI', 4090.0, 55.2, 0.59, 66)
(114, 'UM', 8949.0, 2.6, 0.62, 59)
(115, 'LI', 3921.0, 30.2, 0.6, 68)
(118, 'LM', 6056.0, 6.8, 0.67, 74)
(119, 'LI', 1229.0, 26.1, 0.4, 62)
(120, 'LM', 5013.0, 216.7, 0.54, 53)
(121, 'HI', 66643.0, 5.5, 0.96, 83)
(122, 'HI', 30222.0, 5.3, 0.82, 73)
(123, 'LM', 5542.0, 229.5, 0.54, 66)
(124, 'UM', 30907.0, 4.4, 0.81, 76)
(125, 'LM', 3682.0, 9.3, 0.56, 65)
(126, 'LM', 12359.0, 7.3, 0.72, 70)
(127, 'UM', 12878.0, 33.7, 0.76, 72)
(128, 'LM', 8768.0, 112.5, 0.7, 69)
(129, 'HI', 35703.0, 37.7, 0.88, 76)
(130, 'HI', 34950.0, 10.1, 0.87, 81)
(131, 'HI', 96605.0, 3.0, 0.86, 79)
(133, 'UM', 16896.0, 2.1, 0.77, 75)
(135, 'UM', 31367.0, 19.0, 0.82, 73)
(136, 'UM', 25706.0, 145.8, 0.82, 69)
(137, 'LI', 2405.0, 13.6, 0.53, 66)
(142, 'HI', 47423.0, 35.8, 0.88, 77)
(143, 'LM', 3505.0, 17.7, 0.51, 67)
(144, 'UM', 20474.0, 8.7, 0.8, 73)
(145, 'LI', 1677.0, 8.3, 0.48, 60)
(146, 'HI', 112699.0, 5.9, 0.94, 83)
(147, 'HI', 33079.0, 5.5, 0.85, 75)
(151, 'UM', 13157.0, 60.8, 0.71, 62)
(152, 'LM', 794.0, 11.6, 0.39, 55)
(153, 'HI', 39753.0, 46.7, 0.91, 83)
(154, 'LM', 3804.0, 46.0, 0.51, 65)
(155, 'UM', 14818.0, 0.6, 0.73, 70)
(156, 'HI', 53897.0, 10.2, 0.95, 83)
(159, 'LI', 3966.0, 10.0, 0.69, 72)
(160, 'LI', 2876.0, 63.3, 0.55, 66)
(162, 'LM', 2860.0, 1.4, 0.61, 68)
(165, 'HI', 25596.0, 1.4, 0.81, 73)
(166, 'UM', 10535.0, 12.0, 0.73, 74)
(167, 'UM', 32109.0, 85.6, 0.84, 76)
(168, 'LM', 16151.0, 6.2, 0.75, 69)
(171, 'HI', 67026.0, 10.1, 0.91, 79)
(172, 'HI', 47366.0, 68.5, 0.93, 81)
(173, 'HI', 65118.0, 334.8, 0.92, 76)
(178, 'LM', 11032.0, 99.0, 0.7, 74)
(179, 'LM', 1780.0, 31.2, 0.46, 64)

In [73]:
df.describe()

,SDGi,Life Expectancy,HDI,Per Capita GDP,Population (millions),Cropland Footprint,Grazing Footprint,Forest Product Footprint,Carbon Footprint,Fish Footprint,Built up land,Total Ecological Footprint (Consumption),Cropland,Grazing land,Forest land,Fishing ground,Total biocapacity,Ecological (Deficit) or Reserve,Number of Earths required,Number of Countries required
count,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000
mean,66.698473,71.099237,0.722595,22449.290076,55.603053,0.612977,0.283969,0.450382,1.654962,0.160305,0.093976,3.257252,0.539695,0.400763,1.691487,0.450428,3.182683,-0.073370,2.156019,2.887229
std,11.893592,7.755747,0.158748,23562.608814,182.240589,0.356780,0.458898,0.596577,1.858875,0.465697,0.090207,2.407074,0.572938,0.829875,6.214337,0.947897,7.069445,7.159957,1.594757,5.508786
min,0.000000,53.000000,0.390000,733.000000,0.300000,0.100000,0.000000,0.000000,0.000000,0.000000,0.000000,0.600000,0.000000,0.000000,0.000000,0.000000,0.104127,-12.087339,0.366855,0.041945
25%,60.250000,65.000000,0.595000,5367.000000,5.000000,0.300000,0.100000,0.200000,0.300000,0.000000,0.042994,1.250000,0.200000,0.100000,0.069739,0.024278,0.706775,-1.885684,0.843063,0.855097
50%,69.200000,72.000000,0.750000,14739.000000,11.100000,0.500000,0.200000,0.200000,1.100000,0.100000,0.069637,2.600000,0.400000,0.100000,0.394444,0.104249,1.478047,-0.610397,1.720907,1.760131
75%,74.200000,76.000000,0.855000,32594.000000,38.100000,0.800000,0.300000,0.600000,2.400000,0.200000,0.116706,4.300000,0.600000,0.300000,1.282646,0.326140,2.896978,0.277907,2.849699,2.581891
max,86.500000,84.000000,0.960000,120505.000000,1480.600000,1.900000,4.700000,4.300000,11.600000,5.100000,0.541117,13.100000,2.800000,6.800000,67.949961,6.479269,74.838452,71.699357,8.691697,55.106187

In [31]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Define a list of potential encodings to try
encodings = ['ISO-8859-1', 'cp1252', 'utf-16', 'utf-8-sig']

# Try reading the CSV with different encodings
df = None
for encoding in encodings:
    try:
        df = pd.read_csv('Resources/Global Ecological Footprint 2023.csv', encoding=encoding)
        print(f"File successfully read with encoding: {encoding}")
        break
    except UnicodeDecodeError as e:
        print(f"Failed to read with encoding {encoding}: {e}")

File successfully read with encoding: ISO-8859-1

In [32]:
import mechanicalsoup
import pandas as pd
from sqlalchemy import create_engine, Column, Integer, String, Float
from sqlalchemy.orm import declarative_base, sessionmaker
import re

# URL of the webpage containing the data
url = 'https://www.ncei.noaa.gov/access/monitoring/monthly-report/global/202313'

# Create a browser object
browser = mechanicalsoup.StatefulBrowser()
browser.open(url)

# Fetch the content
page = browser.get_current_page()

# Debugging: Check the structure of the parsed HTML
print("Parsed HTML structure:")
print(page.prettify())

# Extract the table containing the data
table = page.find('table')

if table is None:
    print("No table found on the webpage.")
    exit()

# Debugging: Print the table HTML to ensure it's the expected table
print("Extracted table HTML:")
print(table.prettify())

# Function to sanitize column names
def sanitize_column_name(name):
    return re.sub(r'\W|^(?=\d)', '_', name).lower()

# Extract headers
headers = [sanitize_column_name(header.text.strip()) for header in table.find_all('th')]
print("Headers:", headers)

# Extract rows and handle rows with missing columns by filling with None
rows = []
for row in table.find_all('tr'):
    cells = row.find_all('td')
    if cells:
        row_data = [cell.text.strip() for cell in cells]
        if len(row_data) < len(headers):
            row_data.extend([None] * (len(headers) - len(row_data)))
        rows.append(row_data)
    else:
        print("Skipping row due to column mismatch:", [cell.text.strip() for cell in cells])

# Create a DataFrame
df = pd.DataFrame(rows, columns=headers)

# Debugging: Check initial DataFrame structure and types
print("Initial DataFrame:")
print(df.info())
print(df.head())

# Display the DataFrame
print("Full DataFrame:")
print(df)

# Clean and convert data if necessary
# Example: Remove non-numeric characters and convert columns to appropriate types

# Define SQLAlchemy model dynamically
Base = declarative_base()

# Create a dictionary of columns for the SQLAlchemy model
columns = {
    '__tablename__': 'ecological_footprint',
    'id': Column(Integer, primary_key=True, autoincrement=True)
}
for column in df.columns:
    if pd.api.types.is_string_dtype(df[column]):
        columns[column] = Column(String)
    elif pd.api.types.is_integer_dtype(df[column]):
        columns[column] = Column(Integer)
    elif pd.api.types.is_float_dtype(df[column]):
        columns[column] = Column(Float)

# Define the dynamic model
EcologicalFootprint = type('EcologicalFootprint', (Base,), columns)

# Create an engine that connects to the SQLite database
engine = create_engine('sqlite:///GlobalEcologicalFootprint.db', echo=True)

# Drop the existing table if it exists
Base.metadata.drop_all(engine, [Base.metadata.tables['ecological_footprint']])

# Create all tables in the engine
Base.metadata.create_all(engine)

# Create a session
Session = sessionmaker(bind=engine)
session = Session()

# Insert data into the database
for _, row in df.iterrows():
    row_data = {column: row[column] for column in df.columns}
    try:
        footprint_data = EcologicalFootprint(**row_data)
        session.add(footprint_data)
    except TypeError as e:
        print(f"Error inserting row: {row_data}")
        print(e)

# Commit the transaction
session.commit()

# Close the session
session.close()

# Read the data back from the database to display it
df_from_db = pd.read_sql_table('ecological_footprint', engine)
print("DataFrame from the database:")
print(df_from_db)

Parsed HTML structure:
<!DOCTYPE html>
<html dir="ltr" lang="en">
 <head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <!-------------------------------------------------->
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-57293135-1">
  </script>
  <script>
   window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-57293135-1');
  </script>
  <!-------------------------------------------------->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <meta charset="utf-8"/>
  <title>
   Annual 2023 Global Climate Report | National Centers for Environmental Information (NCEI)
  </title>
  <meta content="An analysis of global temperatures and precipitation, placing the data into a historical perspective" name="description"/>
  <meta content="Global Monthly Climate Report, monthly global report, Global Monthly Report, temperatures, precipiation, rain, anomalies, ranks, trends, globe, global" name="keywords"/>
  <meta content="NCEI.Monitoring.Info@noaa.gov" name="author"/>
  <!-- remove the 300ms tap delay for mobile optimization -->
  <meta content="width=device-width" name="viewport"/>
  <link href="https://www.ncei.noaa.gov/themes/custom/ncei/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon"/>
  <link href="/monitoring-content/lib/css/reset.css" media="all" rel="stylesheet"/>
  <link href="/cmb-lib/assets/jquery-ui-1.13.2/jquery-ui.min.css" media="all" rel="stylesheet"/>
  <link href="/cmb-lib/assets/bootstrap-5.3.2-dist/css/bootstrap.min.css" media="all" rel="stylesheet"/>
  <link href="/cmb-lib/assets/fontawesome6/css/all.min.css" media="all" rel="stylesheet"/>
  <link href="/monitoring-content/lib/css/monitoring.css" media="all" rel="stylesheet"/>
  <link href="/monitoring-content/lib/css/print.css" media="print" rel="stylesheet"/>
  <link href="/monitoring-content/sotc/css/sotc.css" rel="stylesheet"/>
  <link href="/monitoring-content/sotc/global/css/global.css" rel="stylesheet"/>
  <script src="/cmb-lib/assets/jquery-3.7.1.min.js">
  </script>
  <script src="/cmb-lib/assets/jquery-ui-1.13.2/jquery-ui.min.js">
  </script>
  <script src="/cmb-lib/assets/bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js">
  </script>
  <script src="/cmb-lib/js/xss-prevention.js">
  </script>
  <script src="/cmb-lib/js/search-monitoring.js">
  </script>
  <script src="/cmb-lib/js/img-overlay.js">
  </script>
  <script src="/cmb-lib/js/alerts.js">
  </script>
  <script src="/cmb-lib/js/skip-to-main.js">
  </script>
  <script src="/cmb-lib/assets/zingchart-2.9.3/zingchart.min.js">
  </script>
  <script src="/sotc/js/global-report.js">
  </script>
 </head>
 <body>
  <a class="skip-to-main" href="#main-content" tabindex="0">
   Skip to main content
  </a>
  <header role="banner">
   <div class="print" id="print-head">
    <img alt="NOAA Logo" src="/monitoring-content/lib/images/noaa-logo.png"/>
    NOAA's National Centers for Environmental Information
   </div>
   <span id="backToTop" title="Back to Top">
    <span>
    </span>
   </span>
   <div class="ncei-header-footer-container">
    <div class="ncei-header-footer">
     <div class="ncei-header-footer-inner">
      <div class="ncei-footer-third-width">
       <div class="ncei-header-logo">
        <a href="http://www.ncei.noaa.gov">
         <img alt="Link to NCEI's Homepage" src="/monitoring-content/lib/images/ncei/logo.svg" title="Link to NCEI's Homepage"/>
        </a>
       </div>
      </div>
      <div class="ncei-footer-third-width">
       <div class="product-name">
        <h1>
         Annual 2023 Global Climate Report
        </h1>
       </div>
      </div>
      <div class="ncei-footer-third-width" id="search-monitoring-div">
       <input autocomplete="on" id="search-monitoring" name="search-monitoring" placeholder="Search Monitoring Products"/>
       <span id="monitoring-search-icon">
        <span>
        </span>
       </span>
      </div>
     </div>
    </div>
   </div>
   <div class="app-container">
    <div class="ncei-app-inner container">
     <div class="ncei-footer-two-thirds-width">
      <nav aria-label="Breadcrumbs" role="navigation">
       <ol class="app-breadcrumbs">
        <li class="app-breadcrumb-item">
         <a href="/" title="NCEI Home">
          Home
         </a>
        </li>
        <li class="app-breadcrumb-item">
         <a href="/access/monitoring/products/" title="Climate Monitoring Home">
          Climate Monitoring
         </a>
        </li>
        <li class="app-breadcrumb-item">
         <a href="/access/monitoring/monthly-report/global" title="Annual 2023 Global Climate Report">
          Annual 2023 Global Climate Report
         </a>
        </li>
       </ol>
      </nav>
     </div>
     <div class="ncei-footer-third-width" id="next-release">
      <a href="/access/monitoring/dyk/monthly-releases">
       July U.S. Release: Thu, 8 Aug 2024, 11:00 AM EDT
      </a>
     </div>
    </div>
   </div>
   <div class="alerts">
   </div>
  </header>
  <main id="main-content" role="main" tabindex="-1">
   <div id="page-content-container">
    <div class="container" id="page-content">
     <ul class="tabs">
      <li class="selected">
       <a href="/access/monitoring/monthly-report/">
        Monthly Report
       </a>
      </li>
      <li>
       <a href="https://www.ncei.noaa.gov/news/global-climate-202312">
        Summary Info
       </a>
      </li>
      <li>
       <a href="/access/monitoring/monthly-report/briefings">
        Monthly Briefings
       </a>
      </li>
      <li>
       <a href="/access/monitoring/monthly-report/rss.xml" type="application/rss+xml">
        RSS Feed
       </a>
      </li>
     </ul>
     <form action="/access/monitoring/monthly-report/report-select" id="report-selection" method="get">
      <span class="nowrap smallMarginRight">
       <label for="report">
        Report:
       </label>
       <select id="report" name="report">
        <optgroup label="National">
         <option value="national">
          National Climate Report
         </option>
         <option value="drought">
          Drought Report
         </option>
         <option value="fire">
          Wildfires Report
         </option>
         <option value="snow">
          National Snow and Ice Report
         </option>
         <option value="tornadoes">
          Tornadoes Report
         </option>
         <option value="synoptic">
          Synoptic Discussion
         </option>
        </optgroup>
        <optgroup label="Global">
         <option selected="selected" value="global">
          Global Climate Report
         </option>
         <option value="global-drought">
          Global Drought Narrative
         </option>
         <option value="global-regions">
          Regional Analysis
         </option>
         <option value="upper-air">
          Upper Air Report
         </option>
         <option value="tropical-cyclones">
          Tropical Cyclones Report
         </option>
         <option value="global-snow">
          Global Snow and Ice Report
         </option>
        </optgroup>
        <optgroup label="Discontinued">
         <option value="hazards">
          Global Hazards
         </option>
         <option value="enso">
          El NiÃ±o/Southern Oscillation
         </option>
        </optgroup>
       </select>
      </span>
      <span class="nowrap smallMarginRight">
       <label for="year">
        Year:
       </label>
       <select id="year" name="year">
        <option value="2024">
         2024
        </option>
        <option selected="selected" value="2023">
         2023
        </option>
        <option value="2022">
         2022
        </option>
        <option value="2021">
         2021
        </option>
        <option value="2020">
         2020
        </option>
        <option value="2019">
         2019
        </option>
        <option value="2018">
         2018
        </option>
        <option value="2017">
         2017
        </option>
        <option value="2016">
         2016
        </option>
        <option value="2015">
         2015
        </option>
        <option value="2014">
         2014
        </option>
        <option value="2013">
         2013
        </option>
        <option value="2012">
         2012
        </option>
        <option value="2011">
         2011
        </option>
        <option value="2010">
         2010
        </option>
        <option value="2009">
         2009
        </option>
        <option value="2008">
         2008
        </option>
        <option value="2007">
         2007
        </option>
        <option value="2006">
         2006
        </option>
        <option value="2005">
         2005
        </option>
        <option value="2004">
         2004
        </option>
        <option value="2003">
         2003
        </option>
        <option value="2002">
         2002
        </option>
        <option value="2001">
         2001
        </option>
        <option value="2000">
         2000
        </option>
        <option value="1999">
         1999
        </option>
        <option value="1998">
         1998
        </option>
        <option value="1997">
         1997
        </option>
       </select>
      </span>
      <span class="nowrap smallMarginRight">
       <label for="month">
        Month:
       </label>
       <select id="month" name="month">
        <option value="1">
         January
        </option>
        <option value="2">
         February
        </option>
        <option class="season" value="14">
         Winter (DJF)
        </option>
        <option value="3">
         March
        </option>
        <option value="4">
         April
        </option>
        <option value="5">
         May
        </option>
        <option class="season" value="15">
         Spring (MAM)
        </option>
        <option value="6">
         June
        </option>
        <option value="7">
         July
        </option>
        <option value="8">
         August
        </option>
        <option class="season" value="16">
         Summer (JJA)
        </option>
        <option value="9">
         September
        </option>
        <option value="10">
         October
        </option>
        <option value="11">
         November
        </option>
        <option class="season" value="17">
         Autumn (SON)
        </option>
        <option value="12">
         December
        </option>
        <option selected="selected" value="13">
         Annual
        </option>
       </select>
      </span>
      <input type="submit" value="View Report"/>
     </form>
     <div class="arrowNav">
      <div class="arrowLeft">
       <a data-toggle="tooltip" href="/access/monitoring/monthly-report/global/202312" title="December 2023 Monthly Global Climate Report">
        <i aria-hidden="true" class="fas fa-chevron-circle-left">
        </i>
       </a>
      </div>
      <div class="arrowRight">
       <a data-toggle="tooltip" href="/access/monitoring/monthly-report/global/202401" title="January 2024 Monthly Global Climate Report">
        <i aria-hidden="true" class="fas fa-chevron-circle-right">
        </i>
       </a>
      </div>
     </div>
     <div id="reportContent">
      <div id="sotc-content">
       <div id="related-materials">
        <div id="additional-resources">
         <h2>
          Additional Resources
         </h2>
         <div id="additional-resources-flexbox">
          <div>
           <h3>
            Temperature and Precipitation Maps
           </h3>
           <ul>
            <li>
             <a href="/access/monitoring/ghcn-gridded-products/maps/202313#global-maps-select">
              Annual
             </a>
            </li>
           </ul>
          </div>
          <div>
           <h3>
            Temperature Anomalies Time Series
           </h3>
           <ul>
            <li>
             <a href="/access/monitoring/climate-at-a-glance/global/time-series/globe/land_ocean/ytd/12/1850-2023">
              Annual
             </a>
            </li>
           </ul>
          </div>
         </div>
        </div>
        <div id="supplemental-material">
         <h2>
          Supplemental Material
         </h2>
         <ul>
          <li>
           <a href="/access/monitoring/monthly-report/global/202313/supplemental/page-1">
            2023 year-to-date temperatures versus previous years
           </a>
          </li>
          <li>
           <a href="/access/monitoring/monthly-report/global/202313/supplemental/page-2">
            Monthly temperature anomalies versus El NiÃ±o
           </a>
          </li>
          <li>
           <a href="/access/monitoring/monthly-report/global/202313/supplemental/page-3">
            Global Temperature Trends, Updated through 2023
           </a>
          </li>
          <li>
           <a href="/access/monitoring/monthly-report/global/202313/supplemental/page-4">
            Calculating the Probability of Rankings for 2024
           </a>
          </li>
          <li>
           <a href="/access/monitoring/monthly-report/global/202313/supplemental/page-5">
            Global Annual Temperature Rankings Outlook
           </a>
          </li>
          <li>
           <a href="/access/monitoring/monthly-report/global/202313/supplemental/page-6">
            NOAA: El 2023 fue el aÃ±o mÃ¡s cÃ¡lido para la Tierra
           </a>
          </li>
          <li>
           <a href="/access/monitoring/monthly-report/global/202313/supplemental/page-7">
            Coming soon: Updated NOAAGlobalTemp dataset
           </a>
          </li>
         </ul>
        </div>
       </div>
       <hr/>
       <div class="image-set">
        <div class="pad small center" style="max-width:2010px">
         <a href="/monitoring-content/sotc/global/extremes/extremes-202313.png">
          <img alt="extremes-202313.png" src="/monitoring-content/sotc/global/extremes/extremes-202313.png" style="max-width:2000px" width="100%"/>
         </a>
        </div>
       </div>
       <h2 class="pageSection" id="gtemp">
        Global Temperatures
       </h2>
       <p>
        The year 2023 was the warmest year since global records began in 1850 at 1.18Â°C (2.12Â°F) above the 20th century average of 13.9Â°C (57.0Â°F). This value is 0.15Â°C (0.27Â°F) more than the previous record set in 2016. The 10 warmest years in the 174-year record have all occurred during the last decade (2014â€“2023). Of note, the year 2005, which was the first year to set a new global temperature record in the 21st century, is now the 12th-warmest year on record. The year 2010, which had surpassed 2005 at the time, now ranks as the 11th-warmest year on record.
       </p>
       <div class="image-set">
        <div class="pad small center" style="max-width:1120px">
         <a href="/monitoring-content/sotc/global/2023/dec/global-land-ocean-anomalies-202301-202312.png">
          <img alt="global-land-ocean-anomalies-202301-202312.png" src="/monitoring-content/sotc/global/2023/dec/global-land-ocean-anomalies-202301-202312.png" style="max-width:1110px" width="100%"/>
         </a>
        </div>
       </div>
       <p>
        Unlike the previous two years (2021 and 2022), which were squarely entrenched in a cold phase
        <a href="https://www.climate.gov/enso">
         El NiÃ±o Southern Oscillation (ENSO)
        </a>
        episode, also known as La NiÃ±a, 2023 quickly moved into ENSO neutral territory, transitioning to a warm phase episode, El NiÃ±o, by June. ENSO not only affects global weather patterns, but it also affects global temperatures. As seen in the image below, during the warm phase of ENSO (El NiÃ±o), global temperatures tend to be warmer than ENSO-neutral or La NiÃ±a years, while global temperatures tend to be slightly cooler during cold phase ENSO episodes (La NiÃ±a). Despite 2021 and 2022 not ranking among the five warmest years on record, the global annual temperature increased at an average rate of 0.06Â°C (0.11Â°F) per decade since 1850 and more than three times that rate (0.20Â°C / 0.36Â°F) since 1982.
       </p>
       <div class="image-set">
        <div class="pad small center" style="max-width:1796px">
         <a href="/monitoring-content/sotc/global/enso-bars/enso-bars.195001.202312.png">
          <img alt="Global monthly temperature anomalies, with ENSO status" src="/monitoring-content/sotc/global/enso-bars/enso-bars.195001.202312.png" style="max-width:1786px" width="100%"/>
          <br/>
          Global monthly temperature anomalies, with ENSO status
         </a>
        </div>
       </div>
       <p>
        During 2023, each monthly global surface temperature anomaly value ranked among the seven warmest with June through December each ranking as the warmest such month on record. The
        <a href="/climate-at-a-glance/global/time-series/globe/land_ocean/1/7/1850-2023">
         July global temperature value
        </a>
        was likely the warmest of all months on record and the July,
        <a href="/climate-at-a-glance/global/time-series/globe/land_ocean/1/8/1850-2023">
         August
        </a>
        , and
        <a href="/climate-at-a-glance/global/time-series/globe/land_ocean/1/9/1850-2023">
         September
        </a>
        temperature anomalies each exceeded 1.0Â°C (1.8Â°F) above the long-term average for the first time on record. The September anomaly value of 1.44Â°C (2.59Â°F) was the largest positive monthly global temperature anomaly for any month on record.
       </p>
       <p>
        Global ocean temperatures in 2023 were also noteworthly with nine-consecutive months (Aprilâ€“December) of record warm temperatures. The
        <a href="/climate-at-a-glance/global/time-series/globe/ocean/1/9/1850-2023">
         September
        </a>
        ocean temperature anomaly value (+1.04Â°C/+1.87Â°F) was warmest of any month on record.
       </p>
       <p>
        The Northern Hemisphere summer season
        <a href="/climate-at-a-glance/global/time-series/globe/land_ocean/3/8/1850-2023">
         (Juneâ€“August)
        </a>
        was warmest on record and the Northern Hemisphere autumn
        <a href="/climate-at-a-glance/global/time-series/globe/land_ocean/3/11/1850-2023">
         (Septemberâ€“November)
        </a>
        was not only the warmest such period on record, it exceeded the previous record from 2015 by 0.39Â°C (0.70Â°F) and was the largest positive seasonal anomaly for any season on record in the Northern Hemisphere. The 2023
        <a href="/climate-at-a-glance/global/time-series/nhem/land_ocean/ytd/12/1850-2023">
         Northern Hemisphere surface temperature
        </a>
        was also warmest on record at +1.54Â°C (+2.77Â°F). Meanwhile, the
        <a href="/climate-at-a-glance/global/time-series/shem/land_ocean/ytd/12/1850-2023">
         Southern Hemisphere
        </a>
        had its warmest year on record, with a temperature that was 0.82Â°C (1.48Â°F) above the 20th century average.
       </p>
       <table class="stats-table bordered shading">
        <caption class="h4 pageSub2section" data-menutitle="Januaryâ€“December Stats" id="year-to-date">
         Januaryâ€“December Ranks and Records
        </caption>
        <thead>
         <tr>
          <th rowspan="2">
           Januaryâ€“December
          </th>
          <th colspan="2">
           Anomaly
          </th>
          <th colspan="2" rowspan="2">
           Rank
           <br/>
           <span class="nowrap">
            (out of 174 years)
           </span>
          </th>
          <th colspan="3">
           Records
          </th>
         </tr>
         <tr>
          <th>
           Â°C
          </th>
          <th>
           Â°F
          </th>
          <th>
           Year(s)
          </th>